@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=VT323&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
canvas{
  position: fixed;
  top: 0;
  left: 0;
}
main{
  position: absolute;
  height: 100vh;
  z-index: 500;
  
  font-family: 'Open Sans', 'sans-serif';
  color: #cecece;
  overflow: hidden;
}
.item-1, 
.item-2, 
.item-3 {
	position: relative;
  display: block;
	top: 2em;
  width: 40%;
  font-size: 2em;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
/* The animation was taken from the following codepen: https://codepen.io/nucliweb/pen/OJXYwm */